*,
*::before,
*::after { 
  box-sizing: border-box;
}

html.sr .load-hidden {
    visibility: hidden;
}

body {
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    background-color: #ffffff;
    color: #3F464D;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16pt;
    height: 100vh;
}

h2 {
    font-family: 'Anton', sans-serif; 
    font-size: 28pt;
    margin-bottom: 30px;
    text-align: center;
}

p {
    text-align: center;
}



/**************  NavBar ***************/
.navbar {
    background-color: #ffffff;
    font-family: 'Anton', sans-serif; 
}

.navbar-toggler-icon {
    font-size: small;
    color: #3F464D;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav a{
    color: #d4ffbd;
    text-shadow: 0 0 5px #3F464D, 0 0 1px #c9c9c9;
    text-align: center;
}

.display-section {
    padding-top: 10px;
}


div .social-link #contact-svg {
      border-top: 1px solid #3F464D;
}

.resume {
    margin-left: 12px;
    color: #3F464D;
    font-size: 14pt;
}

.resume:hover {
    color: #d4ffbd;
    text-shadow: 0px 0px 1px black;
}


/**************  Hero Section ***************/

.header {
    perspective: 100rem;
    width:100%;
    height: 100%;
    min-height: 100vh;
}


.heroBanner h1 {
    margin: auto;
    text-align: center;
    font-size: 30pt;
    font-family: 'Anton', sans-serif; 
    font-weight: bold;
    opacity: 0;
    animation: moveThinkItBanner 1s .5s forwards;
}

.think-it {
    padding-top: 100px;    
}

.heroBanner h2 {
    text-align: center;
    font-family: 'Bangers', cursive;
    opacity: 0;
    animation: moveThinkItBanner 1s .7s forwards;
}

#hero-section span {
    color: #d4ffbd;
    text-shadow: 0 0 5px #3F464D, 0 0 1px #c9c9c9;
}

.basic-text{
    text-align: start;
    color: #3F464D;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18pt;
    justify-content: end;
}

.img-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

#hero-section .img-jp {
    max-width: 350px;
    margin: 0 auto;
}


#typed-container {
    position: relative;
    margin: 0 auto;
    margin-top: 70px;
    width: 300px;
}

#typed-container h3 {
    line-height: 1em;
    font-size: 40px;
    font-family: 'Anton', sans-serif; 
}

#typed-container a{
    font-family: 'Anton', sans-serif; 
    font-size: 26px;
    text-decoration: none;
}


@media (min-width: 1000px) {
    .display-section {
        padding-top: 20px;
    }

     #typed-container h3 {
        line-height: 1em;
        font-size: 70px;
        font-family: 'Anton', sans-serif; 
        white-space: nowrap;
    }  
    
    .image-name-container{
        display: flex;
        padding: 50px;
        margin: 70px auto 0 auto;
        max-width: 1000px;
    }

    #typed-container {
        float: left;
        flex: 1;
        margin-left: 100px;
        width: 440px;
    }

    .img-contain {
        flex: 1;
        width: 300px;
        margin-bottom: 100px;
        float: right;

    } 

    .img-jp {
        width: 500px
    }

    div .social-link #contact-svg {
        float:right;
        border-top: none;
    }
    
}



@keyframes moveThinkItBanner {
    0% {
        transform: translateY(40rem)
        rotateY(-20deg);
    }
    100% {
        transform: translateY(0)
        rotateY(0);
        opacity: 1;
    }
}



/**************  Mission Section ***************/

#mission-section {
    background-image: linear-gradient(#d4ffbd, #FFF);
    width:100%;
    height: 100%;
    
}

.inner-content {
    padding: 30px;
    margin-bottom: 10px;
}

.setup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-bottom: 40px;
    box-shadow: 5px 10px 10px #131c1d;
}

.highlight-words {
    color: #7c70d3;
    display: inline;
    
}

.logo-size {
    width: 20px;
    margin-right: 20px;
}

.skill-contain {
    display: flex;
    justify-content:start;
    align-items: center;
    margin-left: 60px;
}

.enjoy-pics {
    width: 50px;
}

.paragraph-me {
    text-align: left;
    margin-left: 35px;
    margin-right: 35px;
}

@media (min-width: 1300px) {

    #mission-section {
        background-color: #d4ffbd;
        width:100%;
        height: 100%;
        min-height: 80vh;        
    }
    .inner-content {
        margin-bottom: 20px;
    }  

    .setup {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 300px;
        max-width: 500px;
        box-shadow: 5px 10px 10px #3F464D;
    }

    .about-img {
        display: flex;
        margin-top: 70px;
        margin-left: 100px;
    }

    .paragraph-me {
        display: inline;
        justify-content: center;
        align-items: center;
        padding: 10px 5px;
        max-height: 500px;
        margin: -20px 80px;
        text-align: left;

    }
}


/**************  Skills Section ***************/


.skill-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.skill-card {
    margin: 8px;
    padding: 5px;
    width: 300px;
    height: 70px;
    display: grid;
    grid-template-rows: auto;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    background-color: #3F464D;
    color: white;
    font-family: 'Didact Gothic', sans-serif; 
    font-size: larger;
}

.skill-card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
    background-color: #d4ffbd;
    color: #3F464D;
}

.skill-card p {
    padding-top: 10px;
}


/**************  Projects Section ***************/

#projects-section {
    background-image: linear-gradient(#5DA4D9, #FFF);
    color: #3F464D;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.btn {
    background-color: #3F464D;
    border: 1px solid ;
    border-radius: 10px;
    color:#fff;
    padding: 8px 16px;
    text-transform: lowercase;
    margin-right: 5px;
    transition: .4s;
}

.btn_container .btn:hover {
    background-color: #c4f5fc;
    color: #3F464D;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.cards__item {
    display: flex;
    padding: 1rem;
}

@media(min-width: 45rem) {
    .cards__item {
        display: flex;
        padding: 1rem;
        width: 50%;
    }
}

@media(min-width: 68rem) {
    .cards__item {
        display: flex;
        padding: 1rem;
        width: 33.333%;
    }
}

.card {
    background-color:#ffffff;
    color: #3F464D;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.card:hover .card__image  {
    filter: contrast(100%);
}
  
.card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}
  
.card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    filter: saturate(180%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
}

.card__image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
    }
@media(-width: 40rem) {
    .card__image::before {
        padding-top: 66.6%;
    }
}




.card_brewr{
    background-image: url("img/Brewr.png");
}


.card_disney_clone {
    background-image: url("img/DisneyPlus_clone.png");
}

.card_mad_libs{
    background-image: url("img/Madlibsv2.png");
}

.card_match_game{
    background-image: url("img/Matchgame.png");
}

.card_blackjack {
    background-image: url("img/blackjack.png");
}

.card_chatr {
    background-image: url("img/chatr.png");
}

.card_food-order {
    background-image: url("img/jpTavern.png");
}

.card_jps-blog {
    background-image: url("img/blog.png"); 
}

.card_jps-color-scheme {
    background-image: url(img/color-scheme.png);
}

.card__title {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    text-align: left;
}


  
  

/**************  Contact Section-Navbar ***********/



#contact-section {
    width: 100%;
    height: 100%vh;
    background-color: #ffffff ;
}

.inner-content {
    width:100%;
}

.form-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    background-color: #3F464D;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    color: #FFF6E6;
    
}

.form-main .input-group label{
    display: block;
    margin-bottom: 5px;
}



.form-main .input-group .form-element {
    appearance: none;
    outline: none;
    border: none;
    display: block;
    width: 100%;
    padding: 12px 16px;
    background-color: #F2F2F0;
    border-radius: 10px;
    transition: .04s;
}

.form-main form .input-group .form-element:focus {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    background-color: #F5E883;
}

@media(min-width: 768px) {
    div .social-link #contact-svg {
        float:right;
        border-top: none;
    }  

    .form-main  {
    grid-template-columns: repeat (2, 1fr);
    margin: 0 auto;
    max-width: 700px;
    }

    .card__image:hover {
        transform: scale(1.05);
    }

    .paragraph-me {
        max-width: 790px;
        margin: 0 auto;
    }
    

}

textarea {
    resize: none;
    min-height: 100px;
}

.submit-group {
    text-align: center;
}

.submit-group input[type="submit"] {
    appearance: none;
    outline: none;
    border: none;
    background: none;
    padding: 12px 16px;
    background-color: #ffffff;
    color:#3F464D;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;

}

.submit-group input[type="submit"]:hover {
    background-color: #d4ffbd;
    color: #3F464D;
}


section#contact-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

section#contact-svg i {
    font-size: 20px;
    margin: 10px;
    color: #3F464D;
    transition-duration: .3s;
}

section#contact-svg i:hover {
    color: #d4ffbd;
    text-shadow: 0 0 3px #1B0E73;
}

/********** Thank you page ***********/

#thanks {
    text-align: center;
    margin: 0 auto;
    background-image: linear-gradient(#fff, #d4ffbd);

}

#thank-you {
    text-align: center;
    padding: 0 100px;
}

#portfolio-link {
    text-align: center;
}

.img-jp2 {
    width: 300px;
    margin-top: 40px;
    margin-bottom: -40px;
}