*,
*::before,
*::after { 
  box-sizing: border-box;
}

html.sr .load-hidden {
    visibility: hidden;
}

body {
    position: absolute;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    background-color: #FFF6E6;
    color: #3F464D;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16pt;
    height: 100vh;
}

h2 {
    font-family: 'Anton', sans-serif; 
    font-size: 30pt;
    margin-bottom: 30px;
    text-align: center;
}

p {
    text-align: center;
}

/**************  NavBar ***************/
.navbar {
    background-color: #FFF6E6;
    font-family: 'Anton', sans-serif; 
}

.navbar-toggler-icon {
    font-size: small;
    color: #3F464D;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav a{
    color: #d4ffbd;
    text-shadow: 0 0 5px #3F464D, 0 0 1px #c9c9c9;
    text-align: center;
    /* padding-bottom: 10px; */
}

.display-section {
    padding-top: 10px;
}


div .social-link #contact-svg {
      border-top: 1px solid #3F464D;
}

.resume {
    margin-left: 12px;
    color: #3F464D;
    font-size: 14pt;
}

.resume:hover {
    color: #d4ffbd;
    text-shadow: 0px 0px 1px black;
}


/**************  Hero Section ***************/

.header {
    perspective: 100rem;
    width:100%;
    height: 100%;
}


.heroBanner h1 {
    margin: auto;
    text-align: center;
    font-size: 30pt;
    font-family: 'Anton', sans-serif; 
    font-weight: bold;
    opacity: 0;
    animation: moveThinkItBanner 1s .5s forwards;
}

.think-it {
    padding-top: 100px;    
}

.heroBanner h2 {
    text-align: center;
    font-family: 'Bangers', cursive;
    opacity: 0;
    animation: moveThinkItBanner 1s .7s forwards;
}

#hero-section span {
    color: #d4ffbd;
    text-shadow: 0 0 5px #3F464D, 0 0 1px #c9c9c9;
}

.basic-text{
    text-align: start;
    color: #3F464D;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18pt;
    justify-content: end;
}


#hero-section .img-jp {
    position:fixed;
    bottom:0px;
    width: 100%;
}

#typed-container {
    margin: 0 auto;
    margin-top: 70px;
    width: 300px;
    /* padding: 10px; */
}

#typed-container h3 {
    line-height: 1em;
    font-size: 40px;
    font-family: 'Anton', sans-serif; 
}

#typed-container a{
    font-family: 'Anton', sans-serif; 
    font-size: 26px;
    text-decoration: none;
}

@media (min-width: 768px) {
    #typed-container h3 {
        line-height: 1em;
        font-size: 70px;
        font-family: 'Anton', sans-serif; 
        white-space: nowrap;
    }   

    #typed-container {
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 200px;
    }

    #hero-section .img-jp {
        position:fixed;
        bottom:0px;
        width: 60%;
        left: 50%;
    }

    div .social-link #contact-svg {
    float:right;
    border-top: none;
    }
    
}

@keyframes moveThinkItBanner {
    0% {
        transform: translateY(40rem)
        rotateY(-20deg);
    }
    100% {
        transform: translateY(0)
        rotateY(0);
        opacity: 1;
    }
}

/**************  Mission Section ***************/

#mission-section {
    background-color: #d4ffbd;

}

.inner-content {
    padding: 40px;
}

.setup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    width: 500px;
    /* box-shadow: 5px 10px #888888; */
    margin-bottom: 40px;
    box-shadow: 5px 10px #FF8066;
}

@media (min-width: 900px) {
    .setup {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        max-width: 450px;
        box-shadow: 5px 10px #FF8066;
    }

    .about-img {
        display: flex;
        max-height: 400px;
    }

    .paragraph-me {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        max-height: 500px;
        margin: 10px 20px;
    }
}


/**************  Skills Section ***************/


.skill-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.skill-card {
    margin: 8px;
    padding: 5px;
    width: 300px;
    height: 70px;
    display: grid;
    grid-template-rows: auto;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    background-color: #3F464D;
    color: white;
    font-family: 'Didact Gothic', sans-serif; 
    font-size: larger;
}

.skill-card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
    background-color: #d4ffbd;
    color: #4E2C76;
}

.skill-card p {
    padding-top: 10px;
}


/**************  Projects Section ***************/

#projects-section {
    background-color: #FF8066;
    color: #FFF6E6;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.btn {
    background-color: #3F464D;
    border: 1px solid ;
    border-radius: 10px;
    color:#fff;
    padding: 8px 16px;
    text-transform: lowercase;
    margin-right: 5px;
    transition: .4s;
}

.btn_container .btn:hover {
    background-color: #d4ffbd;
    color: #1B0E73;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.cards__item {
    display: flex;
    padding: 1rem;
}

@media(min-width: 40rem) {
    .cards__item {
        display: flex;
        padding: 1rem;
        width: 50%;
    }
}

@media(min-width: 56rem) {
    .cards__item {
        display: flex;
        padding: 1rem;
        width: 33.333%;
    }
}

.card {
    background-color:#FFF6E6;
    color: #1B0E73;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.card:hover .card__image  {
    filter: contrast(100%);
}
  
.card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}
  
.card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    filter: saturate(180%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
}

.card__image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
    }
@media(-width: 40rem) {
    .card__image::before {
        padding-top: 66.6%;
    }
}




.card_brewr{
    background-image: url(img/Brewr.png);
}


.card_disney_clone {
    background-image: url(img/DisneyPlus_clone.png);
}

.card_mad_libs{
    background-image: url(img/Madlibsv2.png);
    }

.card_match_game{
    background-image: url(img/Matchgame.png);
    }

.card__title {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}


  
  

/**************  Contact Section-Navbar ***********/



#contact-section {
    width: 100%;
    height: 100%vh;
    background-color: #FFF6E6 ;
}

.inner-content {
    width:100%;
}

.form-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    background-color: #3F464D;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    color: #FFF6E6;
    
}

.form-main .input-group label{
    display: block;
    margin-bottom: 5px;
}



.form-main .input-group .form-element {
    appearance: none;
    outline: none;
    border: none;
    display: block;
    width: 100%;
    padding: 12px 16px;
    background-color: #F2F2F0;
    border-radius: 10px;
    transition: .04s;
}

.form-main form .input-group .form-element:focus {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    background-color: #F5E883;
}

@media(min-width: 768px) {
  
    .form-main  {
    grid-template-columns: repeat (2, 1fr);
    margin-right: 160px;
    margin-left: 160px;
    }

    .card__image:hover {
        transform: scale(1.05);
    }
    

}

textarea {
    resize: none;
    min-height: 100px;
}

.submit-group {
    text-align: center;
}

.submit-group input[type="submit"] {
    appearance: none;
    outline: none;
    border: none;
    background: none;
    padding: 12px 16px;
    background-color: #FFF6E6;
    color:#3F464D;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;

}

.submit-group input[type="submit"]:hover {
    background-color: #d4ffbd;
    color: #3F464D;
}


section#contact-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

section#contact-svg i {
    font-size: 20px;
    margin: 10px;
    color: #3F464D;
    transition-duration: .3s;
}

section#contact-svg i:hover {
    color: #d4ffbd;
    text-shadow: 0 0 3px #1B0E73;
}

